body {
	width: 80%;
	margin: 0 auto;
	font-family: sans-serif;
}

h1 {
	font-size: 2em;
	margin: 20px 0;
	font-weight: bold;
}

p	{
	font-size: 1.2em;
	margin: 40px 0 15px 0;
	font-weight: bold;
}

ol li::before {
	content: '¤ '
}

li {
	margin: 10px 0;
	font-size: 0.9em;
}

code {
	font-family: monospace;
}
